<div>
	<h2>Register</h2>
	<div ng-show="vm.error" class="alert alert-danger">{{vm.error}}</div>
	<form name="form" ng-submit="vm.register()" role="form">
		<div class="form-group" ng-class="{'has-error': form.username.$dirty && form.username.$error.required }">
			<label for="username">Username</label>
			<input type="text" name="username" id="username" class="form-control" ng-model="vm.user.username" ng-minlength="5" ng-pattern="/^[a-zA-Z0-9]*$/" required />
			<span ng-show="form.username.$dirty && form.username.$error.required" class="help-block">Username is required</span>
			<span ng-show="form.username.$dirty && form.username.$error.minlength" class="help-block">Username should be at least 5 characters</span>
			<span ng-show="form.username.$dirty && form.username.$error.pattern" class="help-block">Username should only contain alpha numeric characters</span>
		</div>
		<div class="form-group" ng-class="{'has-error': form.password.$dirty && form.password.$error.required }">
			<label for="password">Password</label>
			<input type="password" name="password" id="password" class="form-control" ng-model="vm.user.password" ng-minlength="8" ng-pattern="/^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])[0-9a-zA-Z]{8,}$/" required />
			<span ng-show="form.password.$dirty && form.password.$error.required" class="help-block">Password is required</span>
			<span ng-show="form.password.$dirty && form.password.$error.minlength" class="help-block">Password should be at least 8 characters</span>
			<span ng-show="form.password.$dirty && form.password.$error.pattern" class="help-block">Password should contain at least 1 lower case, 1 upper case and 1 numeric characters</span>
		</div>
		<div class="form-actions">
			<button type="submit" ng-disabled="form.invalid || vm.dataloading" class="btn btn-primary">Register</button>		
		</div>
	</form>
</div>

<div class="col-md-4"></div>